@{
    ViewBag.Title = "About Online Laptop Store";
}
<h2>@ViewBag.Title.</h2>

<p>Online Laptop Store is the one stop solution to purchase laptops. This project is done for Phase - 4 completion requirement. The project makes use of Identity for User Access, EntityFramework Core for communicating with the Database with a Code-First approach.</p>
